{% extends "base.twig" %}

{% block content %}
<div class="single-blog-template-page min-h-screen site-container">
    {% if breadcrumbs %}
            <nav class="breadcrumbs py-6">
                {% for crumb in breadcrumbs %}
                    {% if not loop.last %}
                        {% if crumb.url %}
                            <a href="{{ crumb.url }}" class="breadcrumb-link">{{ crumb.title }}</a>
                        {% else %}
                            <span class="breadcrumb-text">{{ crumb.title }}</span>
                        {% endif %}
                        <span class="breadcrumb-separator"> / </span>
                    {% else %}
                        <span class="breadcrumb-current">{{ crumb.title }}</span>
                    {% endif %}
                {% endfor %}
            </nav>
    {% endif %}

        <div class="single-blog-author-container">
            <div class="single-blog-author-info">
                <div class="single-blog-author-avatar">
                    {% if post.author.avatar %}
                        <img src="{{ post.author.avatar.src }}" alt="{{ post.author.display_name }}" class="single-blog-author-image">
                    {% else %}
                        <div class="single-blog-author-placeholder"></div>
                    {% endif %}
                </div>
                <div class="single-blog-author-details">
                    <span class="single-blog-author-name">{{ post.author.display_name }}</span>
                    <span class="single-blog-post-date">Updated {{ post.date|date("M j, Y") }}</span>
                </div>
            </div>
        </div>

        <div class="single-blog-template-layout py-16">
            <aside class="single-blog-template-left-sidebar">
                <div class="single-blog-sidebar-sticky">
                    <div class="single-blog-toc-section">
                        <h3 class="single-blog-sidebar-title">Contents</h3>
                        <div class="single-blog-toc-list" id="tableOfContents">
                        </div>
                    </div>
                </div>
            </aside>

            <main class="single-blog-template-main-content">
                <h1 class="single-blog-template-post-title">{{ post.title }}</h1>

                <div class="single-blog-template-post-content post-content">
                    {{ post.content }}
                </div>

                <div class="single-blog-template-post-share">
                    <span class="single-blog-share-label">Share</span>
                    <div class="single-blog-share-buttons">
                        <a href="#" class="single-blog-share-btn single-blog-facebook facebook">f</a>
                        <a href="#" class="single-blog-share-btn single-blog-twitter twitter">t</a>
                        <a href="#" class="single-blog-share-btn single-blog-linkedin linkedin">in</a>
                    </div>
                </div>
            </main>

            <aside class="single-blog-template-right-sidebar">
                <div class="single-blog-sidebar-sticky">
                    <div class="single-blog-sidebar-widget">
                        {% if post.terms('post_tag') %}
                            <div class="single-blog-widget-tags">
                                {% for tag in post.terms('post_tag') %}
                                    <a href="{{ tag.link }}" class="single-blog-tag-item">{{ tag.name }}</a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="single-blog-sidebar-widget">
                        <h4 class="single-blog-widget-title">Share this article</h4>
                        <div class="single-blog-social-share">
                            <a href="#" class="single-blog-social-btn single-blog-facebook facebook">f</a>
                            <a href="#" class="single-blog-social-btn single-blog-twitter twitter">t</a>
                            <a href="#" class="single-blog-social-btn single-blog-linkedin linkedin">in</a>
                        </div>
                    </div>

                    <div class="single-blog-sidebar-widget">
                        <h4 class="single-blog-widget-title">Subscribe for updates</h4>
                        {{ function('do_shortcode', '[gravityform id="2" title="false" description="false"]') }}
                    </div>

                    <div class="single-blog-sidebar-contact single-blog-sidebar-widget">
                        <h4 class="single-blog-widget-title form-title-single-page">Free website audit</h4>
                        <p class="single-blog-widget-description">Let us take a look under the hood of your website. We’ll review code, security and performance, and provide an analysis report with recommendations.</p>
                        {{ function('do_shortcode', '[gravityform id="3" title="false" description="false"]') }}
                    </div>
                </div>
            </aside>
        </div>
    </div>

{% endblock %}
