<section class="capability-section py-16 lg:py-16">
    <div class="capability-bg mx-4 lg:mx-8 px-6 lg:px-12 py-12 lg:py-16" style="background-color: rgba(24, 93, 116, 1); max-width: 1380px; margin-left: auto; margin-right: auto;">
        
        {% if post.meta('capability_heading') %}
            <div class="flex items-center mb-12 lg:mb-16">
                <div class="mr-4 flex-shrink-0">
                    <svg width="33" height="54" viewBox="0 0 33 54" fill="none" xmlns="http://www.w3.org/2000/svg" class="text-mainstay-green"> 
                        <path d="M0.00292969 53.428L0.259933 53.558H5.10093L32.1379 0.0939941H26.9749L0.00292969 53.428Z" fill="currentColor"/> 
                    </svg>
                </div>
                <h2 class="capability-heading text-white">
                    {{ post.meta('capability_heading') }}
                </h2>
            </div>
        {% endif %}

        <div class="lg:grid lg:gap-16 lg:items-start" style="grid-template-columns: 1fr 1fr;">
            <div class="mb-12 lg:mb-0">
                {% if post.meta('capability_sub_heading') %}
                    <h3 class="capability-subheading text-white mb-8 lg:mb-12">
                        {{ post.meta('capability_sub_heading') }}
                    </h3>
                {% endif %}
                
                {% if post.meta('capability_text') %}
                    <div class="capability-text text-white">
                        {{ post.meta('capability_text')|raw }}
                    </div>
                {% endif %}
            </div>
            
            {% if post.meta('services') %}
                <div class="services-accordion">
                    {% for service in post.meta('services') %}
                        {% if service.service_name %}
                            <div class="service-accordion-item">
                                {% if service.service_description %}
                                    <div class="service-accordion-trigger capability-service-link flex items-center justify-between text-white transition-colors duration-300 border-b border-mainstay-green cursor-pointer {% if loop.first %}pb-4 lg:pb-6{% else %}py-4 lg:py-6{% endif %}" data-service-accordion="{{ loop.index }}">
                                        <span>{{ service.service_name }}</span>
                                        <div class="accordion-icon-container">
                                            <svg class="accordion-plus w-4 h-4 transition-opacity duration-300" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M5.73742 13.608V0.482954H7.96469V13.608H5.73742ZM0.288552 8.15909V5.93182H13.4136V8.15909H0.288552Z" fill="currentColor"/>
                                            </svg>
                                            <svg class="accordion-minus w-4 h-4 transition-opacity duration-300 opacity-0 absolute" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0.288552 8.15909V5.93182H13.4136V8.15909H0.288552Z" fill="currentColor"/>
                                            </svg>
                                        </div>
                                    </div>
                                    
                                    <div class="service-accordion-content overflow-hidden transition-all duration-300 ease-in-out border-b border-mainstay-green" data-service-content="{{ loop.index }}" style="max-height: 0;">
                                        <div class="service-description capability-text text-white pt-4 pb-6 lg:pb-8 pl-0">
                                            {{ service.service_description|raw }}
                                            
                                            {% if service.service_url %}
                                                <div class="mt-6">
                                                    <a href="{{ service.service_url }}" class="btn-mainstay-secondary inline-block">
                                                        Learn More
                                                    </a>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% else %}
                                    {% if service.service_url %}
                                        <a href="{{ service.service_url }}" class="capability-service-link flex items-center justify-between text-white transition-colors duration-300 border-b border-mainstay-green {% if loop.first %}pb-4 lg:pb-6{% else %}py-4 lg:py-6{% endif %}">
                                            <span>{{ service.service_name }}</span>
                                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 ml-4"> 
                                                <path d="M5.73742 13.608V0.482954H7.96469V13.608H5.73742ZM0.288552 8.15909V5.93182H13.4136V8.15909H0.288552Z" fill="#0EDD7A"/> 
                                            </svg>
                                        </a>
                                    {% else %}
                                        <div class="capability-service-link flex items-center justify-between text-white border-b border-mainstay-green {% if loop.first %}pb-4 lg:pb-6{% else %}py-4 lg:py-6{% endif %}">
                                            <span>{{ service.service_name }}</span>
                                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 ml-4"> 
                                                <path d="M5.73742 13.608V0.482954H7.96469V13.608H5.73742ZM0.288552 8.15909V5.93182H13.4136V8.15909H0.288552Z" fill="#0EDD7A"/> 
                                            </svg>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</section>