<section class="case-studies-section py-16 lg:py-16">
    {% set case_studies = fn('get_posts', {
        'post_type': 'case-study',
        'numberposts': post.meta('case_studies_count') ? post.meta('case_studies_count') : 3,
        'post_status': 'publish',
        'orderby': 'date',
        'order': 'DESC'
    }) %}
    {% if case_studies %}
        <div class="case-studies-list">
            {% for case_study in case_studies %}
                {% set study_obj = TimberPost(case_study) %}
                {% set bg_class = loop.index is odd ? 'case-study-black' : 'case-study-blue' %}
                
                <article class="case-study-item">
                    <div class="case-study-container {{ bg_class }}">
                        <div class="flex flex-col lg:grid lg:gap-12 lg:items-center" style="grid-template-columns: 1fr 1fr;">
                            <div class="case-study-image order-1 lg:order-2 mb-6 lg:mb-0">
                                {% if study_obj.thumbnail %}
                                    <a href="{{ study_obj.link }}" class="block">
                                        <img src="{{ study_obj.thumbnail.src('large') }}" 
                                             alt="{{ study_obj.thumbnail.alt }}"
                                             class="w-full object-cover case-study-img">
                                    </a>
                                {% endif %}
                            </div>
                            
                            <div class="case-study-content order-2 lg:order-1">
                                <div class="case-study-ribbon">
                                    <span class="case-study-tag">CASE STUDY</span>
                                </div>
                                
                                <h3 class="case-study-heading mb-4 lg:mb-6">
                                    <a href="{{ study_obj.link }}" class="text-white hover:text-mainstay-green transition-colors">
                                        {{ study_obj.title }}
                                    </a>
                                </h3>
                                
                                <div class="case-study-text mb-6 lg:mb-8">
                                    {% if study_obj.post_excerpt %}
                                        {{ study_obj.post_excerpt }}
                                    {% else %}
                                        {{ study_obj.preview(25) }}
                                    {% endif %}
                                </div>
                                
                                <div class="case-study-cta">
                                    <a href="{{ study_obj.link }}" class="btn-case-study">
                                        <span>View case study</span>
                                        <svg width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.0751 3.83902L10.3664 7.54773V4.47431H0.304871V3.20374H10.3664V0.13032L14.0751 3.83902Z" fill="currentColor"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            {% endfor %}
        </div>
        {% if post.meta('all_case_studies_link') %}
            <div class="site-container">
                <div class="text-center mt-8 lg:mt-16">
                    <a href="{{ post.meta('all_case_studies_link') }}" class="inline-flex items-center text-black hover:text-mainstay-green transition-colors">
                        <span class="mr-2 font-rubik font-normal text-base lg:text-lg">All case studies</span>
                        <svg width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.0751 3.83902L10.3664 7.54773V4.47431H0.304871V3.20374H10.3664V0.13032L14.0751 3.83902Z" fill="#0EDD7A"/>
                        </svg>
                    </a>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="site-container">
            <div class="text-center py-12">
                <p class="text-gray-600">No case studies found. <a href="/wp-admin/post-new.php?post_type=case-study" class="text-mainstay-green hover:underline">Create your first case study</a>.</p>
            </div>
        </div>
    {% endif %}
</section>